include base64

- var base64_head = "data:image/png;base64,";

mixin e(url, name)
	.e
		.ic: img.m(src=base64_head + images[url])
		p.d= name
mixin ef(url, name)
	.e
		.ic: img.m(src=base64_head + images[url], style="height: 150px; width: 130px;")
		p.d= name
mixin es(url, name, style)
	.e
		.ic: img.m(src=base64_head + images[url], style=style)
		p.d= name

doctype html
html(lang="ja")
	head
		meta(charset="UTF-8")
		title FFX Monsters
		style(type="text/css").
			body {
				padding: 0;
				margin: 0;
				background: #C7CFDF;
				background-attachment: fixed;
			}

			.row {
				padding: 10px;
				height: 230px;
				clear: both;
			}

			.gt {
				padding: 10px;
				margin: 0;
			}

			#content {
				width: 1114px;
				padding: 20px;
			}

			.gr {
				background: rgba(255, 255, 255, 0.5);
				border: 2px solid #66737F;
				border-radius: 10px;
				border-bottom: 4px solid #66737F;
				clear: both;
				padding: 5px;
				margin-bottom: 20px;
			}

			.ic {
				display: table-cell;
				text-align: center;
				vertical-align: middle;
				height: 150px;
			}

			.e {
				border: 1px solid #AAAAAA;
				border-bottom: 3px solid #AAAAAA;
				background: #EEEEEE;
				margin-right: 10px;
				border-radius: 5px;
				float:left;
				padding: 10px;
			}

			.ed {
				clear: left;
			}

			.m {
				width: 150px;
			}

			.d {
				padding-top: 10px;
				margin: 0;
			}
	body
		#content

			h2#title FFXモンスター 地域別 

			.gr
				h2.gt ビサイド島
				.row
					mixin e("dingo","ディンゴ")
					mixin e("waterflan","ウォータープリン")
					mixin e("condor","コンドル")
			.gr
				h3.gt キーリカの森
				.row
					mixin e("parsum","パルサム")
					mixin e("yellowelement","イエローエレメント")
					mixin e("dinonix","ディノニクス")
					mixin e("bee","キラービー")
			.gr
				h3.gt ミヘン街道
				.row
					mixin e("floateye","フロートアイ")
					mixin e("raldo","ラルド")
					mixin e("bom","ボム")
					mixin ef("white_element","ホワイトエレメント")
					mixin e("mihen-fang","ミヘンファング")
				.row
					mixin e("dualhorn","デュアルホーン")
					mixin e("ipiria","イピリア")
					mixin e("vivle","ヴィーヴル")
			.gr
				h3.gt キノコ岩街道
				.row
					mixin e("thunderflan","サンダープリン")
					mixin e("fungoongo","フンゴオンゴ")
					mixin e("raptor","ラプトゥル")
					mixin ef("red-element","レッドエレメント")
					mixin e("gandarva","ガンダルヴァ")
				.row
					mixin e("lamashtu","ラマシュトゥ")
					mixin e("garuda","ガルダ")
			.gr
				h3.gt ジョゼ街道
				.row
					mixin e("garm","ガルム")
					mixin e("basilisk","バジリスク")
					mixin e("bunyip","バニップ")
					mixin e("simurgh","シームルグ")
					mixin e("snowflan","スノープリン")
				.row
					mixin e("bitebug","バイトバグ")
					mixin e("ochu","オチュー")
			.gr
				h3.gt 雷平原
				.row
					mixin e("aerouge","エイロージュ")
					mixin e("kusariku","クサーリク")
					mixin ef("gold-element","ゴールドエレメント")
					mixin e("buer","ブエル")
					mixin e("melisine","メリジュヌ")
				.row
					mixin ef("larva","ラルヴァ")
					mixin ef("sabotenda","サボテンダー？")
					mixin e("giant","鉄巨人")
			.gr
				h3.gt マカラーニャの森・湖
				.row
					mixin ef("blueelement","ブルーエレメント")
					mixin e("xiphos","クーシポス")
					mixin e("murufshu","ムルフシュ")
					mixin ef("wasp","ワスプ")
					mixin e("shmelke","シュメルケ")
				.row
					mixin e("chimera","キマイラ")
					mixin e("iceflan","アイスフラン")
					mixin e("evileye","イービルアイ")
					mixin e("snow_wolf","スノーウルフ")
					mixin e("mafdet","マフート")
			.gr
				h3.gt ビーカネル島・サヌビア砂漠
				.row
					mixin e("alcyone","アルキュオネ")
					mixin e("sandwolf","サンドウルフ")
					mixin e("mushussu","ムシュフシュ")
					mixin e("sandworm","サンドウォーム")
					mixin ef("zu","ズー")
				.row
					mixin ef("sabotenda","サボテンダー")
			.gr
				h3.gt ナギ平原
				.row
					mixin e("flameflan","フレイムプリン")
					mixin e("nebiros","ネビロス")
					mixin e("skoll","スコル")
					mixin e("shred","シュレッド")
					mixin e("hedgeviper","ヘッジバイパー")
				.row
					mixin e("cuarl","クァール")
					mixin e("ogre","オーガ")
					mixin e("chimera_brain","キマイラブレイン")
					mixin e("malboro","モルボル")
			.gr
				h3.gt 盗まれた祈り子の洞窟
				.row
					mixin e("imp","ガルキマセラ")
					mixin e("yowie","ヨーウィー")
					mixin ef("eppaj","エページュ")
					mixin e("nidhogg","ニーズヘッグ")
					mixin e("dark_element","ダークエレメント")
				.row
					mixin e("thorn","ソーン")
					mixin e("valaha","ヴァラーハ")
					mixin e("ghost","ゴースト")
					mixin ef("tonberry","トンベリ")
			.gr
				h3.gt ガガゼト山
				.row
					mixin e("bandersnatch","バンダースナッチ")
					mixin e("grat","グラット")
					mixin ef("ashura","アシュラ")
					mixin ef("grenade","グレネード")
					mixin e("splasher","スプラッシャー")
				.row
					mixin e("achelous","アケオロス")
					mixin e("maelspike","レイジングスパイク")
					mixin e("mandragora","マンドラゴラ")
					mixin e("behemoth","ベヒーモス")
					mixin e("darkflan","ダークプリン")
				.row
					mixin e("grendel","グレンデル")
					mixin e("ahriman","アーリマン")
			.gr
				h3.gt 「シン」の体内
				.row
					mixin e("exoray","アンテサンサン")
					mixin e("gemini","ウルフラマイター（青）")
					mixin e("gemini","ウルフラマイター（赤）")
					mixin e("adamantoise","アダマンタイマイ")
					mixin e("behemoth_king","キングベヒーモス")
				.row
					mixin e("wraith","レイス")
					mixin e("great_malboro","モルボルグレート")
					mixin e("barbatos","バルバトゥース")
					mixin e("demonolith","デビルモノリス")
			.gr
				h3.gt オメガ遺跡
				.row
					mixin e("floating_death","デスフロート")
					mixin e("black_element","ブラックエレメント")
					mixin e("zaurus","ザウルス")
					mixin e("spirit","スピリット")
					mixin e("halma","ハァルマ")
				.row
					mixin e("master_coeurl","マスタークァール")
					mixin e("machea","メチーエ")
					mixin ef("puroboros","ピュロボロス")
					mixin ef("tonberry","マスタートンベリ")
					mixin e("varuna","ヴァルナ")
